@import "tailwindcss";

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-75: hsla(0, 0%, 0%, 0.75);
}

@theme {
  --color-orange: var(--orange);
  --color-pale-orange: var(--pale-orange);
  --color-very-dark-blue: var(--very-dark-blue);
  --color-dark-grayish-blue: var(--dark-grayish-blue);
  --color-grayish-blue: var(--grayish-blue);
  --color-light-grayish-blue: var(--light-grayish-blue);
  --color-white: var(--white);
  --color-black-75: var(--black-75);
}
